<section class="bdayGifts" aria-label="Подарки ко дню рождения">
  <h2 class="bdayGifts__title">
    <!-- DESKTOP -->
    <span class="t-desktop">
      В честь вашего праздника мы дарим<br />
      щедрые подарки:
    </span>

    <!-- MOBILE -->
    <span class="t-mobile">
      В честь вашего праздника мы дарим<br />
      щедрые подарки:
    </span>
  </h2>

  <div class="bdayGifts__list">

    <!-- ITEM 1 -->
    <div class="bdayGifts__item">
      <img class="bdayGifts__icon" src="/assets/img/bday-ico-bonus.png" alt="" />

      <p class="bdayGifts__text">
        <!-- DESKTOP -->
        <span class="t-desktop">
          Начисление <b>10 000 бонусных рублей</b> на ваш счет
        </span>

        <!-- MOBILE -->
        <span class="t-mobile">
          Начисление <b>10 000 бонусных</b><br />
          <b>рублей</b> на ваш счет
        </span>
      </p>
    </div>

    <!-- ITEM 2 -->
    <div class="bdayGifts__item">
      <img class="bdayGifts__icon" src="/assets/img/bday-ico-percent.png" alt="" />

      <p class="bdayGifts__text">
        <!-- DESKTOP -->
        <span class="t-desktop">
          <b>13% суммы чека</b> списываем бонусными рублями
        </span>

        <!-- MOBILE -->
        <span class="t-mobile">
          <b>13% суммы чека</b> списываем<br />
          бонусными рублями
        </span>
      </p>
    </div>

    <!-- ITEM 3 -->
    <div class="bdayGifts__item">
      <img class="bdayGifts__icon" src="/assets/img/bday-ico-gift.png" alt="" />

      <p class="bdayGifts__text">
        <!-- DESKTOP -->
        <span class="t-desktop">
          <b>Изысканный подарок-украшение</b>, символ нашего внимания к вам
          (получить подарок можно в магазине сети Best Gold в городах, где мы находимся)
        </span>

        <!-- MOBILE -->
        <span class="t-mobile">
          <b>Изысканный подарок-</b><br />
          <b>украшение</b>, символ нашего<br />
          внимания к вам (получить<br />
          подарок можно в магазине сети<br />
          Best Gold в городах, где мы<br />
          находимся)
        </span>
      </p>
    </div>

  </div>

  <a class="bdayGifts__btn" href="#">Получить подарки</a>
</section>