<section class="bdayTerms" aria-label="Условия получения подарков">
  <div class="bdayTerms__box">
    <div class="bdayTerms__title">Условия получения подарков:</div>

    <div class="bdayTerms__text">
      <!-- DESKTOP -->
      <span class="t-desktop">
        Акция действует в течение 14 дней: за 7 дней до вашего официального дня рождения, и в течение 7 дней после него. Для получения подарков
        необходимо предъявить документ, удостоверяющий личность, с указанием даты рождения. Бонусные рубли начисляются на вашу
        бонусную карту и могут быть использованы в соответствии с правилами бонусной программы. Подарок-украшение получаете в магазине в указанные период времени.
      </span>

      <!-- MOBILE (разметка переносов как в фигме) -->
      <span class="t-mobile">
        Акция действует в течение 14 дней: за
        7 дней до вашего официального дня
        рождения, и в течение 7 дней после
        него. Для получения подарков 
        необходимо предъявить документ,
        удостоверяющий личность, с
        указанием даты рождения. Бонусные
        рубли начисляются на вашу бонусную
        карту и могут быть использованы в
        соответствии с правилами бонусной
        программы. Подарок-украшение
        получаете в магазине в указанные
        период времени.
      </span>
    </div>
  </div>
</section>