<footer class="footer">
  <div class="footer__inner">

    <!-- Контакты -->
    <div class="footer__contacts">
      <div class="footer__contact">
        <div class="footer__title">8 (800) 222-32-38</div>
        <div class="footer__subtitle">бесплатная горячая линия</div>
      </div>

      <div class="footer__contact footer__contact--right">
        <div class="footer__title">info@best-gold.shop</div>
        <div class="footer__subtitle">единая электронная почта</div>
      </div>
    </div>

    <div class="footer__divider"></div>

    <div class="footer__main">
    <div class="footer__links">
        <a href="#">Гарантия на товар</a>
        <a href="#">Магазины</a>
        <a href="#">Бренды</a>
        <a href="#">Доставка и оплата</a>
        <a href="#">Программа лояльности</a>
    </div>

    <div class="footer__socials">
        <a href="#"><img src="assets/img/vk.png" alt="VK"></a>
        <a href="#"><img src="assets/img/tg.png" alt="Telegram"></a>
    </div>
    </div>

    <!-- Отписка -->
    <div class="footer__unsubscribe">
      Если вы больше не хотите получать от нас письма, 
      то в любой момент можете 
      <a href="#">отписаться.</a>
    </div>

  </div>
</footer>