<section class="gift" aria-label="Подарочная карта">
  <div class="gift__card">
    <div class="gift__grid">
      <!-- LEFT -->
      <div class="gift__left">
        <h1 class="gift__title">Поздравляем, Мария!</h1>

        <p class="gift__text">
          Ваша <b>подарочная карта</b> доступна<br />
          для использования в <b>Best-Gold</b>.
        </p>

        <div class="gift__label">Код сертификата:</div>

        <div class="gift__code">
          <div class="gift__codeBox">
            <span class="gift__codeValue" id="giftCode">DN45RDRFN53NN</span>
            <button class="gift__copyBtn" type="button" aria-label="Скопировать код" data-copy="#giftCode">
              <img class="gift__copyIco" src="assets/img/copy.png" alt="" aria-hidden="true" />
            </button>
          </div>
        </div>

        <a class="gift__btn" href="#">Перейти на сайт</a>
      </div>

      <!-- RIGHT -->
      <div class="gift__right">
        <img class="gift__img" src="assets/img/gift-cards.png" alt="Подарочные карты Best Gold" />
      </div>
    </div>
  </div>
</section>