<section class="products three" aria-label="Новинки">
  <h2 class="products__title three">Вам могут понравится:</h2>

  <div class="products__grid">
    <!-- item 1 -->
    <article class="pCard">
      <div class="pCard__media">
        <span class="pCard__badge">-50%</span>
        <img class="pCard__img" src="/assets/img/p1.jpg" alt="Колье из серебра с фианитами" />
      </div>

      <h3 class="pCard__name">Колье из серебра с<br>фианитами</h3>

      <div class="pCard__price">
        <span class="pCard__now">5 311 ₽</span>
        <span class="pCard__old">10 622 ₽</span>
      </div>

      <a class="pCard__btn" href="#">Купить</a>
    </article>

    <!-- item 2 -->
    <article class="pCard">
      <div class="pCard__media">
        <span class="pCard__badge">-50%</span>
        <img class="pCard__img" src="/assets/img/p2.jpg" alt="Кольцо из красного золота с бриллиантом" />
      </div>

      <h3 class="pCard__name">Кольцо из красного<br>золота с бриллиантом</h3>

      <div class="pCard__price">
        <span class="pCard__now">61 846 ₽</span>
        <span class="pCard__old">123 693 ₽</span>
      </div>

      <a class="pCard__btn" href="#">Купить</a>
    </article>

    <!-- item 3 (только мобилка) -->
        <article class="pCard pCard--mOnly">
        <div class="pCard__media">
            <span class="pCard__badge">-50%</span>
            <img class="pCard__img" src="/assets/img/p4.jpg" alt="Кольцо из серебра с гранатом и фианитами" />
        </div>

        <h3 class="pCard__name">Кольцо из серебра с<br>гранатом и фианитами</h3>

        <div class="pCard__price">
            <span class="pCard__now">8 107 ₽</span>
            <span class="pCard__old">16 215 ₽</span>
        </div>

        <a class="pCard__btn" href="#">Купить</a>
        </article>

    <!-- item 4 -->
    <article class="pCard">
      <div class="pCard__media">
        <span class="pCard__badge">-50%</span>
        <img class="pCard__img" src="/assets/img/p3.jpg" alt="Серьги из красного золота" />
      </div>

      <h3 class="pCard__name">Серьги из красного<br>золота</h3>

      <div class="pCard__price">
        <span class="pCard__now">75 523 ₽</span>
        <span class="pCard__old">151 046 ₽</span>
      </div>

      <a class="pCard__btn" href="#">Купить</a>
    </article>
  </div>
</section>